@model Haber.Models.Roles
@{
    ViewBag.Title = "Delete";
}

<h2>@Model.RoleName isimli rolü silmek istediğinize emin misiniz ?</h2>

@Html.ActionLink("Evet", "DeleteConfirmed", new { roleid = Model.RoleID }, new { @class = "btn btn-success" })
@Html.ActionLink("Hayır", "Index", "Role", null, new { @class = "btn btn-danger" })


