@model Haber.Models.Register
@{
    ViewBag.Title = "AnotherProfile";
}

<h2>@Model.Username adlı kişinin profili</h2>

<p><strong>Kullanıcı Adı: </strong>@Model.Username</p>
<p><strong>Şifre: </strong>@Model.Password</p>

@foreach (var haber in ViewBag.haberler)
{
    <div class="card">
        <div class="card-body">
            <div class="card-text">
                @haber.HaberTitle
            </div>
        </div>
    </div>
}