
@{
    ViewBag.Title = "Logout";
}

<h2>Çıkış yapmak istediğine emin misin ?</h2>

<a href="/Account/LogoutPost" class="btn btn-success">Evet</a>
<a href="/Home/Index" class="btn btn-danger">Hayır</a>

