@model Haber.Models.Register

    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/Account/MyProfile">@Model.Username</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Account/Logout">Çıkış Yap</a>
        </li>
    </ul>
